# Include everything the framework requires
# You will automatically get updates for all versions starting with "1.".
rlbot==1.*
rlbot_gui
rlbottraining
rlgym_sim @ git+https://github.com/AechPro/rocket-league-gym-sim@main
rlgym-ppo @ git+https://github.com/AechPro/rlgym-ppo

# This will cause pip to auto-upgrade and stop scaring people with warning messages
pip

# remove noise from cmd logging
pydantic==1.10.15